.timer .count {
    font-size: 80px; /* Aumenta el tamaño de fuente para los dígitos */
    color: white; /* Cambia el color de fuente a blanco */
    background-color: #800020; /* Cambia el color de fondo a vinotinto */
    padding: 10px; /* Agrega un espacio interno alrededor de los dígitos */
  }
